body {
    background: #161616;
    margin: 0;
}

#game {
    max-width: 900px;
}

#color-text-box {
    width: 100%;
    font-size: 2rem;
    padding: 8px 0 8px 10px;
    font-family: 'Press Start 2P';
    height: 40px;
}